<ion-header [translucent]="true" >
  <ion-toolbar >
    <ion-title >
    Pregnancy Tips
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item class="color11">
    <ion-text>
      <p>Do's and Dont's tips for a safer pregnancy. Click on each tips for more information.</p>
    </ion-text>
  </ion-item>
  <ion-item-divider class="color7"></ion-item-divider>
  <ion-list>
      <ion-item class="color11">
        <ion-label >Do's:</ion-label>
      </ion-item>
      <ion-item expand="full" (click)="calculate1()" class="color2a">1. Do take folic acid and vitamin D</ion-item>
      <ion-item expand="full" (click)="calculate2()" class="color2a">2. Do stay active</ion-item>
      <ion-item expand="full" (click)="calculate3()" class="color2a">3. Do think about what you eat</ion-item>
      <ion-item expand="full" (click)="calculate4()" class="color2a">4. Do monitor your baby’s movements</ion-item>
      <ion-item expand="full" (click)="calculate5()" class="color2a">5. Do go to sleep on your side in the 3rd trimester</ion-item>
      <ion-item expand="full" (click)="calculate6()" class="color2a">6. Do remember your mental health</ion-item>
      <ion-item expand="full" (click)="calculate7()" class="color2a">7. Do consider taking the vaccinations that are offered</ion-item>
      <ion-item expand="full" (click)="calculate8()" class="color2a">8. Do carry your pregnancy notes</ion-item>
      <ion-item expand="full" (click)="calculate9()" class="color2a">9. Do take any overseas holidays before 37 weeks</ion-item>
      <ion-item expand="full" (click)="calculate10()" class="color2a">10. Do be aware of these symptoms</ion-item>
  </ion-list>
  <ion-item-divider class="color7"></ion-item-divider>
  <ion-list>
    <ion-item class="color11">
      <ion-label >Dont's:</ion-label>
    </ion-item>
      <ion-item expand="full" (click)="calculate11()" class="color2">1. Don’t ‘eat for two’</ion-item>
      <ion-item expand="full" (click)="calculate12()" class="color2">2. Don’t smoke</ion-item>
      <ion-item expand="full" (click)="calculate13()" class="color2">3. Don’t drink alcohol</ion-item>
      <ion-item expand="full" (click)="calculate14()" class="color2">4. Don’t take drugs</ion-item>
      <ion-item expand="full" (click)="calculate15()" class="color2">5. Don’t go diving or play contact sports</ion-item>
      <ion-item expand="full" (click)="calculate16()" class="color2">6. Don’t drink (or eat) too much caffeine</ion-item>
      <ion-item expand="full" (click)="calculate17()" class="color2">7. Don’t diet in pregnancy</ion-item>
    </ion-list>
    <ion-item-divider class="color7"></ion-item-divider>
    <ion-item class="color11">
      <ion-label>Sources:</ion-label>
    </ion-item>
    <ion-item class="color11a">
    <a target="_blank" rel="noopener noreferrer" href="https://www.tommys.org/pregnancy-information/im-pregnant/early-pregnancy/dos-and-donts-safer-pregnancy">Click here for the reference!</a>
    </ion-item>
</ion-content>
